.feed-panel {
    margin-left: calc(10% + 50px + 10%);
    width: 50%;
    //height: calc(100% - 50px);
    height: 100%;
    position: absolute;
    //background-color: yellowgreen;
}
.pagination-panel {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 50px;
    background-color: white;
    border-color: #e7e8ec;
    border-radius: 3px;
    border-width: 1px;
}
