.pagination.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%)
}
