.sign-in-form {
    position: fixed;
    z-index: 1;
    border-color: grey;
    border-width: 3px;
    border-radius: 3px;
    background-color: white;
    width: 25%;
    top: 10%;
    left: 40%;
}
.sign-in-form-header {
    display: flex;
    flex-direction: row;
    background-color: #37b6ce;
    border-radius: 3px;
    border-width: 3px;
}
.form-name{
    margin-left: 5%;
    margin-top: 2%;
    color: white;
/*style={{marginLeft: '5%', marginTop: '2%'}}*/
}
.form-close-button {
    margin-left: 65%;
    width: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-content: center;
}
.form-close-button:hover {
    color: #ff9d40;
}
.form-control {
    margin: 5% 5%;
    width: 90%;
}
.submit-button {
    margin: 5% 5%;
    width: 80%;
}
