.right-panel {
    margin-left: calc(10% + 50px + 10% + 50%);
    width: calc(100% - (10% + 50px + 10% + 50%));
    height: 100%;
    position: absolute;
}
.select-section {
    margin-left: 20%;
    margin-top: 5%;
}
.filter {
    margin-top: 3%;
    height: 25px;
    width: 70%;
}